@using App.API.Infrastructure.ViewModels.Catalog.Size
@model UpdateSizeRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Sửa Kích Cỡ</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
        <li class="breadcrumb-item active"><a asp-action="Index">Danh Mục Kích Cỡ</a></li>
        <li class="breadcrumb-item active">Sửa màu sắc @Model.Id</li>
    </ol>
    <hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group p-2">
                <label asp-for="Name " class="control-label h4"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="Code" class="control-label h4"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                    <button type="submit" class="btn btn-primary">Lưu </button>  <a class="btn btn-success" asp-action="Index">Quay Lại</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>
</div>

