@using App.API.Infrastructure.ViewModels.Catalog.Color
@model ColorCreateRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Color</h4>
<hr />
    <div class="row border-1 shadow p-3 mb-5 bg-light rounded m-2">
    <div class="col-md-4">
        <form asp-controller="Color"  asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label class="control-label">Mã Hex</label>
                    <input class="form-control" asp-for="HexCode">
                <span asp-validation-for="HexCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit"  class="btn btn-primary" >Create</button>
                <a class="btn btn-secondary" asp-action="Index">Danh sách màu</a>
            </div>
        </form>
    </div>
</div>


