@using App.API.Infrastructure.ViewModels.Catalog.ProductVariations
@model UpdateProductVariationRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
		<h1 class="mt-4">Sửa Biến Thể Sản Phẩm</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
        <li class="breadcrumb-item active"><a asp-action="Index">Danh Mục Biến Thể</a></li>
        <li class="breadcrumb-item active">Biến Thể @Model.Id</li>
		</ol>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SizeId" class="form-control" />
                <input type="hidden" asp-for="ColorId" class="form-control" />
                <input type="hidden" asp-for="ProductId" class="form-control" />
                <div class="form-group p-2">
                <label asp-for="Stock" class="control-label h4"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                    <input type="submit" value="Update" class="btn btn-primary mr-3" />
                    <a asp-action="Index" class="btn btn-success">Quay Lại</a>
            </div>
        </form>
    </div>
</div>

</div>