@using App.API.Infrastructure.ViewModels.Catalog.Oders
@using Data.Enums
@model UpdateOrderStatusRequest
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_Layout";
	List<OrderStatus> status = new()
	{
		OrderStatus.Success,OrderStatus.InProgress,OrderStatus.Shipping,OrderStatus.Confirmed,OrderStatus.Canceled
	};
	var statuslst = status.Select(c => new SelectListItem()
			{
				Text = c.ToString(),
				Value = c.ToString(),
			});
}
<div class="container-fluid">
	<h1 class="mt-4">Hóa Đơn</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active"><a asp-controller="Order" asp-action="Index">Hóa đơn</a></li>
		<li class="breadcrumb-item active">Đổi trạng thái hóa đơn @Model.orderId</li>
        </ol>
	<div class="card mb-4">
		<div class="card-header">
			<a class="btn btn-success" asp-action="Index">Về danh sách</a>
		</div>

		<div class="card-body">
			<form asp-action="StatusAssign">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input  type="hidden" asp-for="orderId" />
				<select class="mb-2" asp-for="status" asp-items="statuslst"></select>
				<div class="form-group">
					<input type="submit" value="Lưu lại" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
</div>